@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  color: rgb(55, 53, 47);
  background-color: #fdfdfd;
  margin-top: 100px ;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
table {
  border: 1px solid;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
th, td {
  padding: 10px;
  text-align: center;
  min-width: 70px;
}
tr:hover {
  background-color: #72dfb4 !important;
}
thead {
  background-color: #72dfb4;
  color: #fdfdfd;
  font-weight: 900;
  position: sticky;
  top: 0;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
tbody tr:nth-child(odd) {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

tbody tr:nth-child(even) {
  background-color: #eee;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
tbody td:first-of-type {
  background-color: #72dfb4;
  color: #fdfdfd;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}
img {
  width: 100px;
  border-radius: 50%;
}
